#-----------------------------------------
# 最低限確認しておくべきMySQL設定
#
# @filename my.cnf
# @category Configs
# @package  ConfigsMyCnf
# @author   fromearth
# @link     https://github.com/fromearth
#-----------------------------------------

[client]
default_character_set = utf8

[mysqld]
character_set_server = utf8
collation_server = utf8_general_ci

[mysqldump]
default_character_set = binary

[mysql]
default_character_set = utf8
